@use '../_01_settings/_settings' as *;
@use '../_02_tools/_tools' as *;



.video-container-right {
  @include video-rounded-corners('R');
  max-height: 500px;
  height: 100%;
  video {
  }
}

.video-container-left {
  @include video-rounded-corners('L');
  max-height: 500px;
  height: 100%;
  video {
  }
}
